html{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: .8em;
  }

main{
    background-color: #fff;
}

/*dp-menu*/

header{
    background-color: #0f023b;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 10;
}

#logo{
    margin-left: 20px;
    width: 50px;
    margin-top: 5px;
    box-shadow: 10px;
}

.dp-menu ul{
    background-color: #0f023b;  
    font-size: 16px; 
    margin-right: 10px;
}

.dp-menu ul li{
    display: inline;
    position: relative;
}

.dp-menu ul li a{
    display: inline-block;
    padding: 10px;
    color: #fff; 
}

.dp-menu ul li a:hover{
    background-color: #2c0d9363;
    color: #a8e5ff;
    border-radius: 15px;
}

/*sub-menu*/

.dp-menu ul ul{
    display: none;
    position: absolute;  
    width: 200px;
    font-size: 14px;
    border-radius: 5px;

}

.dp-menu ul ul li a{
    display: block;
}

.dp-menu ul li:hover ul{
    display: block;
}


/*banner*/
#banner{
    position: relative;
    background-image: url(/img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
}


#banner .centralize .central-title{
    text-align: center;
    margin: 2px 0;
    padding: 1rem 0;
}

#banner .centralize .central-sub-title{
    text-align: center;
    margin: 1rem;
}

#banner .centralize .central-btn{
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.central-sub-title{
    color: #fff;
}

.central-title {
    font-size: 2.5rem;
    color: #fff;
}

/*button*/

.button {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background:  #0f023b;
    background-size: 400%;
    color: #fff;
    border: none;
    font-family: 'Poppins', sans-serif; 
    box-shadow: 1px 1px 15px 2px #9485cc;
}
  
  .button:hover::before {
    transform: scaleX(1);    
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(87, 87, 169, 0.789) 10.8%,
      #0f023b 94.3%);
    transition: all 0.475s;
  }

/*--article--*/

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*intro*/

.intro-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(/img/intro-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.intro-title{
    text-align: center;
    font-size: 1.6rem;
    color: #0f023b;
}

.intro-title lord-icon{
    margin-bottom: -50px; 
    margin-top: -6rem; 
    background: tr;
}

.intro-frames{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px 30px 0px;
    z-index: 8;
}

.if-1, .if-2, .if-3{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 500px;
    box-shadow: 1px 1px 20px 2px #c9c9c9c3;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient( to left,
    rgb(255, 255, 255) 50.8%,
    #f495e4 190.3%);   
}

.if-1:hover, .if-2:hover, .if-3:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: all 0.575s;
}

.if-1 p, .if-2 p, .if-3 p{
    text-align: center;
    font-weight: 400;
}

.if-1 i, .if-2 i, .if-3 i{
    font-size: 30px;
    margin: 10px;
    color: #bf2a8d;
}  

/*content-1*/

.c1-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/img/c2-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;  
    z-index: 6;
    
}

.c1-title{
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    margin: 1rem;
}

.c1-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 2rem;
    margin: 5rem;
    margin-top: 9rem;
    font-size: 20px;
    text-align: center;
    color: #fff;
    box-shadow: 1px 1px 10px 2px #787676;
    background-color:  #0f023b;
    font-weight: 300;
}

.c1-logo{
    width: 50px;
    align-self: flex-end;
    margin: -10px;
}

.c1-icon{
    width: 50px;
    align-self: flex-start;
    margin: -10px;
}

.c1-logo{
    width: 50px;
    align-self: flex-end;
    margin: -9px;
}

.c1-text p{
    padding: 15px;
}

.c1-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c1-circles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.c1-circle-1, .c1-circle-2, .c1-circle-3{
    display: flex;
    background-color: #ffffff;
    border-radius: 8.0rem;
    height: 110px;
    width: 110px;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 40px;
    box-shadow: 1px 1px 10px 2px #b49bad;
}

.c1-circle-1 lord-icon, .c1-circle-2 lord-icon, .c1-circle-3 lord-icon{
   width: 10px;
}

/*content-2*/

.c2-container{
    display: flex;
    flex-direction: row;
    margin: 8rem 0.5rem 3rem;
    margin-top: 10rem;
    padding: 10px;
}

.c2-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.c2-title{
    display: flex;
    flex-direction: row;
    color: #d2088f;
    font-size: 1.6rem;
    margin: 20px;

}

.c2-p{
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    margin: 20px;
    color: #180162;
    padding: 10px;
}  

.c2-img{
    width: 150rem;
    margin-left: 3rem;
    margin-top: -5rem;
}


.c2-dots{
    display: flex;
    border-radius: 50%;
    flex-direction: row;
    margin: 20px;
}

/*progress-dots*/

.progress-1, .progress-2, .progress-3 {
    width: 12px;
    height: 12px;
    margin: 0.4em;
    scale: 0;
    border-radius: 50%;
  }

.progress-1{
    animation: loading_492 2s ease infinite;
    animation-delay: 1s;
    background: #6f0975;
}
  
.progress-2{
    animation: loading_492 2s ease infinite;
    animation-delay: 1.5s;
    background: #9e0776;
}
  
.progress-3{
    animation: loading_492 2s ease infinite;
    animation-delay: 1s;
    background: #6f0975;
} 

  @keyframes loading_492 {
    50% {
      scale: 1;
    }
  }
  
  .progress:nth-child(2) {
    animation-delay: 1.3s;
  }
  
  .progress:nth-child(3) {
    animation-delay: 1.7s;
  }
  
 /*content-c3*/ 

.c3-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.c3-div-1, .c3-div-2, .c3-div-3{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    width: 30rem;
}

.c3-text{
    text-align: center;
    padding: 10px;
    box-shadow: 1px 1px 10px 2px #7973763a;
    height: 15rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    color: #0f023b;
    font-size: 1rem;
}

.c3-text:hover{
    box-shadow: 0px 0px 5px 1px #af1a65b3;
}

.c3-titles{
    font-size: 1.6rem;
    font-weight: 600;
    color: #0f023b;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.c3-div-1 i, .c3-div-2 i, .c3-div-3 i{
    font-size: 3rem;
    color: #0f023b;
}

/*content-c4*/

.c4-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c4-techs{
    margin: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 1rem;
}

.c4-title{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    font-size: 1.6em;
    color: #d2088f;
    margin: 5rem;
}

.c4-title img{
   width: 50rem;
   margin-top: 3rem;
}

.c4-titles-1, .c4-titles-2, .c4-titles-3{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}

.javascript i{
    font-size: 8.9rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

.html i, .css i{
    font-size: 10rem;
    margin: 1rem;
}

.html ul, .css ul, .javascript ul{
    padding: 2.2rem;
    width: 25rem;
    height: 16rem;
    border-radius: 2.5rem;
    margin: 1.5rem;
    font-weight: 500;
    border: 1px #fff solid;
}

.html ul{
    color: #fe7b01;
}

.css ul{
    color: #074bc0;
}
.javascript ul{
    color: #ecd910;
}

.c4-titles-1{
    color: #fe7b01;
}

.c4-titles-2{
    color: #074bc0 ;
}

.c4-titles-3{
    color: #ecd910;
}

.html, .css, .javascript{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

/*content-5*/

.c5-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.c5-content{
    margin: 4rem;
    box-shadow: 1px 1px 10px 2px #a5a6b6;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: #fff;  
}

.c5-container h3{
    font-size: 1.2rem;
    color: #9e0776;
    margin: 1rem;
}

/*content-6 & content-7*/

.c-67{
    background-color: #0f023b;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.c-67 h3{
    margin: 2rem;
}

.c-67-icons{
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 5rem;
    width: 45rem;
    box-shadow: 1px 1px 30px 2px #716a84;
    margin: 1rem;
}

.c-67-icons img{
    width: 6rem;
    margin: 1rem;
    transition: opacity 0.2s ease-in-out;
}

.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover,
.img5:hover,
.img6:hover,
.img7:hover,
.img8:hover,
.img9:hover,
.img10:hover {
    opacity: 0.6; 
}

.img1:not(:hover) 
.img2:not(:hover) 
.img3:not(:hover) 
.img4:not(:hover) 
.img5:not(:hover) 
.img6:not(:hover) 
.img7:not(:hover) 
.img8:not(:hover) 
.img9:not(:hover) 
.img10:not(:hover) 
{
  opacity: 1;
}

/*content-8*/

.c8-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.c8-title{
    font-size: 1.6rem;
    color: #0f023b;
}

.c8-content{
    margin: 4rem;
    box-shadow: 1px 1px 10px 2px #a5a6b6;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: #fff;  
}

.c8-content:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.02);
    transition: all 0.575s;
}

/*footer-container*/

.footer-container{
    background-color: #82506e58;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background-image: url(/img/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*about me*/

#about-me{
}

.sentence{
    display: flex;
    align-items: start;
    flex-direction: column;   
    justify-content: center; 
}

.sentence .logo{
    width: 180px;
}

.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2%;
    font-size: 14px;
    margin-top: -20px;
    color: #fff;
    align-items: center;
}

.presentation b{
    color:  #ffffff;
    font-size: 18px;
}

.presentation p{
    padding: 20px;
    margin: 15px;
    border-radius: 50px;
    box-shadow: 1px 1px 10px 2px #1d092fa9;
}

.presentation p:hover{
    box-shadow: 1px 1px 30px 2px #e5deea7e;
}


/*contacts*/

#contacts{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color:#ffffff;
    background-color: #0f023b;
    justify-content: center;
}

.text-contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    padding: 2px;
}

#contacts img{
    width: 100px;
}

.social-medias{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.instagram, .linkedin, .github {
    padding: 20px;
    margin: 20px;
    background-color: #220c6a5c;
    width: 85px;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    font-size: 30px; 
    box-shadow: 1px 1px 50px 2px #0e0416a9;
}

.instagram i, .linkedin i, .github i {
    color: #fff;
}

.instagram i:hover, .linkedin i:hover, .github i:hover {
    color: #bf2a8d;
}

/*alert*/

.alert {
    padding: 20px;
    background-color: #d50c0c;
    color: white;
    bottom: 0;
    z-index: 9;
    position: sticky;
    text-align: center;
    font-size: 0.8rem;
}
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}

/*footer*/

#footer{
    background-color: #b0b0b0ea;
    font-size: 10px;
    display: flex;
    justify-content: center;
    color: #917aac;
    font-family: sans-serif;
}